<footer class="w-full h-96 max-[431px]:h-auto bg-black">
    <div class="col flex max-[431px]:flex-col h-[332px] max-[431px]:h-full ">
        <div class="max-[431px]:w-full w-2/4 mt-10">
            <img src="./asset/img/LogoFooter.png" alt="" class="w-28 h-28 max-[431px]:ml-[150px]">
            <ul class="text-[#CFCFCF] space-y-0 mt-1 max-[431px]:text-center ">
                <li><a href="">158A Le loi, Thanh Khe, Da Nang</a></li>
                <li><a href="">Company: TienTuyenShoes</a></li>
                <li><a href="">Tel: + 84 24 3767 4686</a></li>
                <li><a href="">Email: TienTuyenShoes@vnuk.edu.vn</a></li>
                <li><a href="">Slogan: 22090003 To VNUK all Top – The world beneath <br> your feet will be a success
                        every
                        step 08/06/2024</a></li>
            </ul>
        </div>
        <div class="w-full flex justify-around mt-10 max-[431px]:flex-wrap">
            <div class="w-[15%] px-4 max-sm:w-[20%] max-sm:text-center max-[431px]:w-[45%] max-[431px]:mb-4">
                <span class="font-semibold text-white">About Us</span>
                <ul class="text-[#CFCFCF] space-y-2 mt-4">
                    <li><a href="" class="hover:text-white">Contact</a></li>
                    <li><a href="" class="hover:text-white">FAQs</a></li>
                    <li><a href="" class="hover:text-white">Support</a></li>
                    <li><a href="" class="hover:text-white">Blog</a></li>
                    <li><a href="" class="hover:text-white">Team</a></li>
                </ul>
            </div>
            <div class="w-[15%] px-4 max-sm:w-[20%] max-sm:text-center max-[431px]:w-[45%] max-[431px]:mb-4">
                <span class="font-semibold text-white">Services</span>
                <ul class="text-[#CFCFCF] space-y-2 mt-4">
                    <li><a href="" class="hover:text-white">Pricing</a></li>
                    <li><a href="" class="hover:text-white">Features</a></li>
                    <li><a href="" class="hover:text-white">Demo</a></li>
                    <li><a href="" class="hover:text-white">Get Started</a></li>
                    <li><a href="" class="hover:text-white">Sign Up</a></li>
                    <li><a href="" class="hover:text-white">Tutorials</a></li>
                    <li><a href="" class="hover:text-white">Forum</a></li>
                </ul>
            </div>
            <div class="w-[15%] px-4 max-sm:w-[20%] max-sm:text-center max-[431px]:w-[45%] max-[431px]:mb-4">
                <span class="font-semibold text-white">Resources</span>
                <ul class="text-[#CFCFCF] space-y-2 mt-4">
                    <li><a href="" class="hover:text-white">Documentation</a></li>
                    <li><a href="" class="hover:text-white">Support Center</a></li>
                    <li><a href="" class="hover:text-white">Community</a></li>
                </ul>
            </div>
            <div class="w-[15%] px-4 max-sm:w-[20%] max-sm:text-center max-[431px]:w-[45%]">
                <span class="font-semibold text-white">Get Help</span>
                <ul class="text-[#CFCFCF] space-y-2 mt-4">
                    <li><a href="" class="hover:text-white">Help Center</a></li>
                    <li><a href="" class="hover:text-white">Contact Us</a></li>
                    <li><a href="" class="hover:text-white">Privacy Policy</a></li>
                    <li><a href="" class="hover:text-white">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col border-b-[0.1px] bg-[#C6C6C6] opacity-50"></div>
    <div class="col flex max-[431px]:flex-col justify-between items-center mt-2">
        <div class="text-[#C6C6C6] space-x-4 opacity-40 max-[431px]:text-center">
            <span class=""><i class='bx bx-copyright'></i>2024 SellShoes. All rights reserved</span>
            <span class="underline"><a href="">Privacy Policy</a></span>
            <span class="underline"><a href="">Terms and Conditions</a></span>
            <span class="underline"><a href="">Cookies Policy</a></span>
        </div>
        <div class="text-[#C6C6C6] text-3xl space-x-3 opacity-50 max-[431px]:text-center max-[431px]:mt-4">
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-instagram'></i></a>
            <a href=""><i class='bx bxl-twitter'></i></a>
            <a href=""><i class='bx bxl-linkedin-square'></i></a>
        </div>
    </div>
</footer>