<!-- NAV -->
<header class="bg-white fixed top-0 w-full z-50 shadow-sm">
    <div class="col flex justify-between items-center h-16">
        <a href="/">
            <div class="bg-[url('/asset/img/LogoNAV.png')] bg-cover h-16 w-16" aria-label="Home"></div>
        </a>
        <nav class="flex text-sm font-bold max-sm:hidden">
            <a href="/women" class="p-5 hover:underline underline-offset-4 focus:underline">WOMAN</a>
            <a href="/man" class="p-5 hover:underline underline-offset-4 focus:underline">MAN</a>
            <a href="/newarrivals" class="p-5 hover:underline underline-offset-4 focus:underline">NEW ARRIVALS</a>
            <a href="/contact" class="p-5 hover:underline underline-offset-4 focus:underline">CONTACT</a>
            <button class="drawer-toggle p-3 text-xl" onclick="toggleDrawer()"><i
                        class='bx bx-shopping-bag'></i></button>
        </nav>
        <!-- CART -->
        <div id="overlay"
             class="fixed inset-0 bg-black bg-opacity-50 hidden transition-opacity duration-1000 ease-in-out"
             onclick="toggleDrawer()"></div>
        <div id="drawer"
             class="fixed top-0 right-[-500px] w-[500px] h-full bg-white transition-all duration-500 z-10 max-[431px]:w-[300px]">
            <div class="p-5 flex flex-col justify-center items-center max-sm:hidden">
                <button class="text-4xl absolute top-2 left-2" onclick="toggleDrawer()"><i
                            class='bx bx-x'></i></button>
                <h2 class="text-3xl font-semibold mb-2">CART</h2>
                <p>You're <strong>$49.99</strong> away from free shipping!</p>
                <div id="productContainer" class="relative flex w-full h-[8.25rem] mt-5 border-b-2 border-gray-200">
                    <img src="https://i.pinimg.com/564x/82/7e/3a/827e3aacabbdc670a6760c1b2fe776e8.jpg" alt=""
                         class="w-[6.5rem] h-[6.5rem] mt-3 object-cover">
                    <div class="flex flex-col mt-3 ml-3">
                        <span class="font-semibold text-xl">Product</span>
                        <span>Color: </span>
                        <span>Size: </span>
                        <button id="deleteProductBtn" class="absolute right-0 top-3 text-2xl"><i
                                    class='bx bx-x' onclick="deleteProduct()"></i></button>
                        <span>Quantity: <input type="number" id="quantity" name="quantity" min="1" max="99"
                                               value="1" class="h-7 w-10" onchange="updateTotal()"></span>
                        <span class="absolute right-0 bottom-3" id="productPrice">$29.99</span>
                    </div>
                </div>
                <div class="absolute bottom-0 left-0 right-0">
                    <div class="flex flex-col justify-between items-center border-t border-gray-300 p-5">
                        <div class="flex justify-between w-full">
                            <span class="text-lg font-semibold">Total</span>
                            <span class="text-lg" id="subtotal">$29.99</span>
                        </div>
                        <div class="flex justify-between w-full">
                            <span class="text-lg font-semibold">Shipping</span>
                            <span class="text-lg" id="shipping">FREE</span>
                        </div>
                    </div>
                    <a href="/payment"><button class="bg-black hover:bg-opacity-80 text-xl text-white w-full h-[70px]">Order</button></a>
                </div>
            </div>
            <!-- Responsive Navbar mobile -->
            <div class="p-5 flex flex-col justify-center items-center">
                <button class="text-4xl absolute top-2 left-2" onclick="toggleDrawer()"><i
                            class='bx bx-x'></i></button>
                <nav class="flex text-sm font-bold xl:hidden max-sm:flex-col max-sm:text-center max-sm:space-y-3 max-sm:text-xl">
                    <a href="#" class="p-5 hover:underline underline-offset-4 focus:underline">HOME</a>
                    <a href="#" class="p-5 hover:underline underline-offset-4 focus:underline">WOMAN</a>
                    <a href="#" class="p-5 hover:underline underline-offset-4 focus:underline">MAN</a>
                    <a href="#" class="p-5 hover:underline underline-offset-4 focus:underline">NEW ARRIVALS</a>
                    <a href="/contact" class="p-5 hover:underline underline-offset-4 focus:underline">CONTACT</a>
                </nav>
            </div>
        </div>
        <a href="/sigin"  class="hover:underline underline-offset-4 font-semibold text-lg max-sm:hidden">Sign in</a>
        <!-- Menu Mobile -->
        <button class="sm:hidden" onclick="toggleDrawer()"><i class='bx bx-menu max-sm:text-4xl'></i></button>
    </div>
</header>
<!-- HEADER -->