<link rel="stylesheet" href="/thankyou.css">

<%- contentFor('header') %>
<header>
    <img src="/MU.png"  alt="Manchester United Logo">
</header>

<main>
    <div class="banner">
        <h5>TuyenTienShoes</h5>
        <div>
            <h1 class="left">THANK YOU</h1>
            <h1 class="right">using shoes for shop</h1>
        </div>
        <h4>
            The company would like to thank you very much for shopping with us and trusting in our products.

            In order to continue growing and improving our services, we need your opinion.


            <br>We are at your disposal for any questions or suggestions.
            <br>

            <br> <strong>THANK YOU VERY MUCH</strong>
        </h4>
        <a href="/">continue shopping</a>

        <canvas id="dotsCanvas"></canvas>
    </div>
</main>

<%- contentFor('footer') %>
<footer></footer>

<script src="/app.js"></script>