@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.tab_btn.active {
    color: #7360ff
}

.content.active {
    display: inline-block;
    animation: moving .5s ease
}
@keyframes moving {
    from{transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}